.products{
    margin: 25px 0;  
}
h2{
    text-align: center;
    margin-bottom: 25px;
}
.card{
    margin-bottom: 20px;
    transition: all .5s;
}
.card:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}
.sbtn{
    border: 1px solid black;
}
#shadow { 
    position: fixed;
    width:100%;
    height:100%;
    z-index:1; /* поверх всех  кроме окна*/
    background:#000;
    opacity: 0.5; /*прозрачность*/
    left:0;
    top:0;
}